@page
@model FinanceSpreetail.Pages.Transactions.IndexModel

@{
    ViewData["Title"] = "Index";
}



<h2>Transactions</h2>

<p>
    <a asp-page="./Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    Transaction
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AmountSort">
                    Amount
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    Date
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CategorySort">
                    Category
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Transaction)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category.name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
