@page
@model AboutModel
@{
    ViewData["Title"] = "Bienhoff Finance";
    var varRed = "color:red";
}

<h2>Budget</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Budget
            </th>
            <th>
                Current Amount
            </th>
            <th>
                Limit
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Budgets)
        {
            varRed = item.amount > item.limit ? "color:red" : "";

            <tr style="@varRed">
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @item.amount
                </td>
                <td>
                    @item.limit
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="chart1"></div>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            //var temp = JSON.Encode(Model);
            //var budget = Html.Raw(JSON.Encode(Model));

            var budget = @Html.Raw(Json.Serialize(Model.Budgets));

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Budget');
            data.addColumn('number', 'Budget Percentage');

            for (var i = 0; i < budget.length; i++)
            {
                data.addRow([budget[i].name, { v: budget[i].amount, f: '33%' }]);
            }

            // Simple Pie Chart:
            var option = {
                title: 'Budget Breakdown for Current Month',
                width: 500,
                height: 400
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart1'));
            chart.draw(data, option);
        }
</script>
